{% extends 'blog/base.html' %}
{% block title %}Posts{% endblock %}
{% block content %}
    <h1>Posts:</h1>
    {% for post in posts %}
         <a href="{% url 'post_detail' post.id %}"><h2>{{ post.title }}</h2></a><br>
        {{ post.text }}<br>
        {{ post.author.email }}<br>
        Likes: {{ post.like }}   Dislikes: {{ post.dislike }}
        <a href="{% url 'post_like' post.id %}"><p>Like</p></a>
        <a href="{% url 'post_dislike' post.id %}"><p>Dislike</p></a><br>
    {% endfor %}
{% endblock %}